<html>
    <head>
        <title>HorseNet v.01</title>
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li id="menu_link_home">
                        <a href="index.html">Home</a>
                    <li id="menu_link_horses">
                        <a href="horses.html">Horses</a>
                    </li>
                    <li id="menu_link_races">
                        <a href="races.html">Races</a>
                    </li>
                    <li id="menu_link_tracks">
                        <a href="tracks.html">Tracks</a>
                    </li>
                    <li id="menu_link_deepnet">
                        <a href="deepnet.html">DeepNet</a>
                    </li>
                    <li id="menu_link_reserved">
                        [Reserved]
                    </li>
                </ul>
            </div>
        </nav>
    </body>
<html>
